<div id="top-bar">
  <a class="button" id="sign-out-btn" href="#">Sign Out</a>
  <a class="button button-outline" id="settings-btn" href="#">Settings</a>
  <input type="text" id="search-bar" placeholder="Search" />
</div>