.row.responsive {
  flex-wrap: wrap;

  @media screen and (min-width: 40rem) {
    flex-wrap: unset;
  }
}

.column.responsive {
  @media screen and (max-width: 40rem) {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
  }
}

/* Custom button sizes */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

/* Dropdowns */
.dropdown {
  background: #fff;
  border: .1rem solid #d1d1d1;
  border-radius: .4rem;
  display: none;
  filter: drop-shadow(0 0 .6rem rgba(0,0,0,.1));
  left: 50%;
  min-width: 13.4rem;
  position: absolute;
  top: 94%;
  transform: translateX(-50%);
}

.dropdown.dropdown-open {
  display: block;
}